* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(214, 213, 213);
}

.header {
  background: rgb(63, 89, 93);
  background: linear-gradient(
    0deg,
    rgba(63, 89, 93, 1) 0%,
    rgba(59, 70, 71, 1) 50%,
    rgba(52, 52, 52, 1) 100%
  );
}
.logo {
  width: 200px;
  height: 80px;
  margin-left: 30px;
}
.add-task {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 15%;
}
.filter {
  display: flex;
  justify-content: center;
  align-self: center;
  transition: 0.3s;
}
.fa-filter{
  background: none;
  border: none;
  font-size: 25px;
  padding-top: 5px;
  margin-left: 10px;
}
.filter:hover{
  cursor: pointer;
  color: #c94b4b;
}
.sort{
    position: relative;
    display: block;
    transition: 0.3s;
}
.sort-button{
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.fa-sort-down{
  margin-top: 10px;
}
.drop-down{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-down select{
  width: 150px;
  overflow-y: hidden;
  padding: 10px;
  height: 130px;
}
.drop-down > select > option{
  padding: 10px;
}
.drop-down > select > option:hover{
  background-color: dodgerblue;
  cursor: pointer;
}

.sort:hover{
  color: #c94b4b;
}


.add-task-button {
  flex-grow: 0;
  border: none;
  background: none;
  font-size: 20px;
  transition: 0.2s;
}
.add-task-button:hover {
  cursor: pointer;
  color: #c94b4b;
}

.no-task {
  display: block;
  margin: 5px 0px 0px 15px;
  font-size: 23px;
  color: blue;
}
ul {
  list-style-type: none;
}
.list-container {
  display: flex;
  border-radius: 5px;
  margin: 20px;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0px 15px 10px -15px #111;
  transition: 0.3s;
}
.list-container div {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.task-heading {
  width: 70vw;
  word-wrap: break-word;
  justify-self: center;
  align-self: center;
  font-weight: 500;
  font-size: 20px;
}
.checkbox {
  display: grid;
  width: 25px;
  justify-self: center;
  margin-left: 3px;
}
.list-container:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.del-button {
  border: none;
  background: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  transition: 0.3s;
  flex-grow: 0;
  margin-right: 20px;
}
.del-button:hover {
  z-index: 1;
  color: blue;
  cursor: pointer;
  transform: scale(1.1);
}

.completed-task-heading {
  margin-top: 100px;
  display: none;
  color: darkgreen;
  margin-left: 20px;
}

.confirm-box-container {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}
.confirm-box {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 300px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: rgb(63, 94, 251);
}
.confirm-msg {
  flex-grow: 2;
  align-self: center;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
.confirm-button-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.confirm-yes,
.confirm-no {
  width: 70px;
  transition: 0.3s;
}
.confirm-yes {
  border-radius: 5px;
  background-color: #352691;
  border-color: #352691;
  color: white;
  border: none;
}
.confirm-no {
  border-radius: 5px;
  background-color: #b5c1fb;
  border-color: #b5c1fb;
  color: #352691;
  border: none;
}
.confirm-yes:hover,
.confirm-no:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.task-description-container, 
.task-input-container,
.filter-container{
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1;
}
.filter-box{
  background: rgb(0, 0, 0);
  position: fixed;
  top: 30vh;
  left: 25vw;
  height: 40vh;
  width: 55vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.filter-tasks{
  padding: 2vw;
  color: white;
  font-size: 3vh;
}
.filter-tasks div{
  margin-bottom: 2vh;
}
.filter-tasks label{
  margin:1.5px;
}
.task-description-box,
.task-input-box{
  background: white;
  position: fixed;
  top: 3%;
  left: 13.77%;
  height: 90vh;
  width: 70vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.filter-name{
  color: white;
}

.task-description,
.task-input {
  padding: 20px 5% 0 5%;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.task-description label,
.task-input label {
  padding-top: 15px;
  font-size: 25px;
}
.task-description input,
.task-input input{
  height: 40%;
  width: 95%;
  padding-left: 10px;
}
.task-description textarea,
.task-input textarea{
    width: 95%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
}
#description-box-task-priority,
#task-priority ,
#task-category {
    width: 97%;
    background: none;
}
.button-container,
.task-input-button-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.description-box-confirm,
.description-box-edit,
.save-task-button,
.back-button{
  font-size: 2em;
  padding: 10px;
  background: none;
  border: none;
  transition: 0.2s;
}
.save-task-button{
  font-size:1em;
  color: white;
  border-radius: 5px;
  background-color: #352691;
}
.back-button{
  font-size:1em;
  color: #352691;
  border-radius: 5px;
  background-color: #B5C1FB
}
.save-task-button:hover,
.back-button:hover{
  cursor: pointer;
}
.description-box-confirm:hover,
.description-box-edit:hover {
  color: rgb(81, 49, 168);
  cursor: pointer;
}
.low {
  background-color: rgb(41, 187, 41);
}
.medium {
  background-color: orange;
}
.high {
  background-color: rgb(255, 73, 73);
}
.yellow {
  color: darkorange;
}
.green {
  color: rgb(0, 58, 3);
}
.red {
  color: rgb(240, 0, 0);
}

